### Project related
out/*
/data/*

### OS X Related
.DS_Store

### JetBrains IDE Related
# User-specific stuff
.idea

### Python Related
# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.hypothesis/
.pytest_cache/
cover/


# Environments
env/
venv/
ENV/
env.bak/
venv.bak/
